<footer class="py-2 py-lg-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <p class="mb-0 text-white">© University of Houston-Downtown 2016 | All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-right">

        <a class="px-2 text-white" routerLink="/">Home</a> <span class="text-white">|</span>
        <a  class="px-2 text-white" routerLink="business">Degree Program</a>
        <span class="btn-to-top  d-inline-flex flex-column align-items-center ml-4 text-white text-uppercase" (click)="scrollToTop()">
          <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="26px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
              d="M24.284,14.876 L12.567,0.430 L0.850,14.876 L7.111,14.876 L7.111,25.341 L18.024,25.341 L18.024,14.876 L24.284,14.876 Z" />
          </svg>
          Top
        </span>
      </div>
    </div>
  </div>

</footer>
