<div class="container py-2">
  <div class="row">
    <a routerLink="/dashboard" class="navbar-brand col-lg-4 mr-0 text-center mt-2">
        <img src="/assets/images/UHDLogo-Horizontal.png" alt="LOGO" class="d-inline-block align-top">
    </a>
    <div class="title col-lg-8 text-right mt-2">
      Call <a href="{{'tel:'+ phone}}" class="font-weight-bold">{{phone | phoneNumber}}</a> 2 to speak to an Admissions Counselor 
      or complete the form below to learn more!   
    </div>
  </div> <!--/row-->
</div>

