body {
    font: 400 1.125rem 'adobe-garamond-pro', serif;
    -webkit-font-smoothing: antialiased;
}


h2,
h3,
h4 {
    font-family: "Futura PT", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 24px;
    color: $primary;
}