<nav class="navbar navbar-expand-lg py-0"> 
    <div class="container">
            <ul class="navbar-nav mr-auto flex-row">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item dropdown" appDropdown>
            <button class="nav-link btn dropdown-toggle border-0 bg-transparent text-white">Degree Programs</button> 
            <div class="dropdown-menu position-absolute">
                <a class="dropdown-item" routerLink="business" routerLinkActive="active">Business</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
            </li>
        </ul>
    </div>
  </nav>