<div class="row text-center degrees-content">
    <div class="col-lg-4">
      <div class="content-wrap mx-auto">
        <h3>Affordability</h3>
        <p>With the lowest tuition of any university in Houston, UHD provides an excellent education at an affordable
          rate,
          freeing up your income while in school, and leaving you with less debt after graduation. Our goal is to make
          the
          financial part of education as stress-free as possible so you focus on earning your degree.</p>
      </div>
    </div> <!--/col-->
    <div class="col-lg-4">
      <div class="content-wrap mx-auto">
        <h3>Flexibility</h3>
        <p>
          Work-life balance can be tough. That’s why we offer a wide range of day, evening, weekend, online and hybrid
          course options to fit every schedule. UHD ranks #22 among top colleges for adults returning to school according
          to Best College Reviews. With locations across Houston and online, we can fit any schedule!
        </p>
      </div>
    </div>   <!--/col-->
    <div class="col-lg-4">
      <div class="content-wrap mx-auto">
        <h3>Earning Ability</h3>
        <p>
          UHD ranks as one of the best Texas universities based on alumni salary. First-year earnings of UHD grads are
          the
          third highest in the state according to College Measures. A degree from UHD will set you up with a strong
          earning
          potential.
        </p>
      </div>
    </div>   <!--/col-->
  </div> <!--/row-->
 